/* ==========================================================================
  Hr
   ========================================================================== */

.c-hr {
  margin: 2rem 0;
  margin: 1.6rem 0;
  border: none;
  padding: 1.6rem 0;
  border-bottom: 0.1rem solid $g-gray-300;
}

.c-hr hr {
  display: none;
}
