/* ==========================================================================
  Hr
  ---
  Horizontal rule
   ========================================================================== */

.c-hr {
  margin: 3.2rem 0;
  border: none;
  padding: 0;
  border-bottom: 0.1rem solid $g-gray-300;
}

.c-hr hr {
  display: none;
}
